<div id="adminTabLeftMenu">
    {{view Ember.TextField valueBinding="newChartGroupName" classNames="input-medium mediumTopPadding"}}
    <button class="btn" {{action createNewChartGroup}}>Add</button>
    {{view Montric.SelectableListView labelPropertyName="id" listItemsBinding="controller.content" deleteAction="deleteSelectedChartGroup" selectedItemBinding="controller.selectedItem"}}
</div>

{{#if selectedItem}}<div id="adminTabRightContent">
    <h1>{{selectedItem.id}}</h1>
    <table class="table adminTable">
    <tr>
        <td style="width: 150px;">Select nodes:</td>
        <td>
            {{controllers.administrationMenu.length}}<div style="max-height: 250px; min-height: 250px; overflow: scroll; width: 100%" class="azureBlueBackground azureBlueBorderThin">
            {{view Montric.TreeView itemsBinding="controllers.administrationMenu.rootNodes"}}
            </div>
            <button {{action doAddCheckedNodes}} class="btn" style="width: 100%;">Add selected Charts to Chart Group</button>
        </td>
    </tr>
    <tr>
        <td style="width: 150px;">Selected Nodes:</td>
        <td>
            <div style="max-height: 150px; max-height: 150px; overflow: scroll; width: 100%" class="azureBlueBackground azureBlueBorderThin">
            {{view Montric.SelectableListView listItemsBinding="selectedItem.chartGroups" deleteAction="deleteSelectedChartPathGroup" maxCharacters="120" selectedItemBinding="controller.selectedChartGroupPath"}}
            </div>
        </td>
    </tr>
    <tr class="footer">
        <td colspan="2"><button {{action doCommitChartGroup}} class="btn" style="width: 100%;">Save Chart Group</button></td>
    </tr>
</div>{{/if}}
{{view Montric.ConfirmDialogView elementId="chartGroupConfirmDialog" cancelButtonLabel="Cancel" cancelAction="doCancelDeletion" okButtonLabel="Delete" okAction="doConfirmDeletion" target="controller" header="Delete Chart Group?" message="Are you sure you want to delete the selected chart group? This action will permanently remove the menu items from the system. This action cannot be undone!"}}
{{view Montric.ConfirmDialogView elementId="chartGroupPathsConfirmDialog" cancelButtonLabel="Cancel" cancelAction="doCancelPathDeletion" okButtonLabel="Delete" okAction="doConfirmPathDeletion" target="controller" header="Delete Chart Group Path?" message="Are you sure you want to delete the selected chart group path? This action will permanently remove the menu items from the system. This action cannot be undone!"}}