<div id="adminTabLeftMenu">
    {{view Ember.TextField valueBinding="newEmailGroupName" classNames="input-medium mediumTopPadding"}}
    <button class="btn" {{action createNewEmailGroup}}>Add</button>
    {{view Montric.SelectableListView listItemsBinding="controller.content" deleteAction="deleteSelectedEmailGroup" selectedItemBinding="controller.selectedItem"}}
</div>

{{#if selectedItem}}<div id="adminTabRightContent">
    <h1>{{selectedItem.id}}</h1>
    <table class="table adminTable">
    <tr>
        <td style="width: 150px;">SMTP Host:</td>
        <td colspan="3">{{view Ember.TextField valueBinding="selectedItem.smtpHost" classNames="almostFillWidth"}}</td>
    </tr>
    <tr>
        <td style="width: 150px;">SMTP Username</td>
        <td>{{view Ember.TextField valueBinding="selectedItem.smtpUsername" classNames="almostFillWidth"}}</td>
        <td style="width: 150px;">SMTP Password</td>
        <td>{{view Ember.TextField valueBinding="selectedItem.smtpPassword" classNames="almostFillWidth"}}</td>
    </tr>
    <tr>
        <td style="width: 150px;">SMTP Port</td>
        <td>{{view Ember.TextField valueBinding="selectedItem.smtpPort" classNames="almostFillWidth"}}</td>
        <td style="width: 150px;">SMTP Use SSL ?</td>
        <td>{{view Ember.Checkbox checkedBinding="selectedItem.smtpUseSSL"}}</td>
    </tr>
    <tr>
        <td>Email Recipients:</td>
        <td colspan="2">{{view Ember.TextField valueBinding="controller.newEmailRecipient" classNames="almostFillWidth"}}</td>
        <td><button class="btn" style="width: 100%;" {{action doAddEmailRecipient}}>Add</button></td>
    </tr>
    <tr>
        <td colspan="4">
            <div style="max-height: 150px; max-height: 150px; overflow: scroll; width: 100%" class="azureBlueBackground azureBlueBorderThin">
                {{view Montric.SelectableListView listItemsBinding="selectedItem.emailRecipients" deleteAction="deleteSelectedEmailRecipient" maxCharacters="120" selectedItemBinding="controller.selectedEmailRecipient"}}
            </div>
        </td>
    </tr>
    <tr class="footer">
    <td colspan="4"><button {{action doCommitEmailGroup}} class="btn" style="width: 100%;">Save Email Group</button></td>
    </tr>
</div>{{/if}}
{{view Montric.ConfirmDialogView elementId="emailGroupConfirmDialog" cancelButtonLabel="Cancel" cancelAction="doCancelDeletion" okButtonLabel="Delete" okAction="doConfirmDeletion" target="controller" header="Delete Email Group?" message="Are you sure you want to delete the selected email group? This action will permanently remove the menu items from the system. This action cannot be undone!"}}
{{view Montric.ConfirmDialogView elementId="emailAddressConfirmDialog" cancelButtonLabel="Cancel" cancelAction="doCancelAddressDeletion" okButtonLabel="Delete" okAction="doConfirmAddressDeletion" target="controller" header="Delete Email Address?" message="Are you sure you want to delete the selected email address? This action will permanently remove the menu items from the system. This action cannot be undone!"}}
