<div id="adminTabRightContent">
    <h1>{{id}}</h1>
    <table class="table">
    <tr>
        <td>Activated:</td>
        <td colspan="3">{{view Ember.Checkbox checkedBinding="alertActivated"}}</td>
    </tr>
    <tr>
        <td>Error Value:</td>
        <td>{{view Ember.TextField valueBinding="alertErrorValue" classNames="input-mini"}}</td>
        <td>Warning Value:</td>
        <td>{{view Ember.TextField valueBinding="alertWarningValue" classNames="input-mini"}}</td>
    </tr>
    <tr>
        <td>Alert Type:</td>
        <td>{{view Ember.Select classNames="input-medium" valueBinding="alertType" contentBinding="controller.alertTypes" optionLabelPath="content.value" optionValuePath="content.key"}}</td>
        <td>Alert Delay:</td>
        <td>{{view Ember.TextField valueBinding="alertDelay" classNames="input-mini"}}</td>
    </tr>
    <tr>
        <td>Alert Source:</td>
        <td colspan="3">

        <div>{{#if alertSource}}{{alertSource}}{{else}}None Selected{{/if}}</div>
        <div style="max-height: 250px; overflow: scroll; margin-bottom: 15px;" class="azureBlueBackground azureBlueBorderThin">
            {{tree-menu rootNodes=controllers.admin.rootNodes allowMultipleSelections=false selectedNode=alertSource}}
        </div>
    </td>
    </tr>
    <tr>
        <td>Alert Recipient:</td>
        <td colspan="3">
            {{multi-selectable-list nodes=alertRecipients selectedNodes=alertNotifications}}
        </td>
    </tr>
    <tr class="footer">
        <td colspan="4"><button {{action doCommitAlert}} class="btn btn-primary" style="width: 100%;">Save Alert</button></td>
    </tr>
    </table>
</div>